footer 
    .container
        .row 
            .col-lg-3.col-md-6.col-sm-12.foot-box 
                h4 عن الشركة:
                p نحن شركة وليد نعمل في عدة مجالات متعددة مثل (المقاولات - الاستشارات الهندسية - المطاعم - تجارة مواد البناء - التصميم الداخلي) من خلال عدة مكاتب متخصصة مثل:
                |مكتب المها للاستشارات الهندسية.
                |مكتب مهندسون بلا حدود للاستشارات الهندسية .
                |مكتب طاقة المستقبل للاستشارات الهندسية الكهربائية.


            .col-lg-3.col-md-6.col-sm-12.foot-box 
                h4 تواصل معنا: 
                p: a(href="https://api.whatsapp.com/send?phone=+96879282983&text=We Real Estate") واتس اب: 79282983                    
                p: a(href="tel:+96879282983") اتصل علي: 79282983
                .social-media 
                    a(href="https://www.facebook.com/orix.oman", class="facebook" target="_blank") 
                        i(class="fa-brands fa-facebook")
                    a(href="https://twitter.com/orixoman/" class="twitter" target="_blank") 
                        i(class="fa-brands fa-twitter")
                    a(href="https://www.instagram.com/orixoman/" class='instagram' target="_blank") 
                        i(class="fa-brands fa-instagram")
                    a(href="https://youtube.com/channel/UCcaoK43rCm0tG_uoa8_46iQ" class='youtube' target="_blank") 
                        i(class="fa-brands fa-youtube")
                    a(href="https://www.snapchat.com/add/orixoman" class='snapchat' target="_blank") 
                        i(class="fa-brands fa-snapchat")
            .col-lg-3.col-md-6.col-sm-12.foot-box 
                h4 اخر المشاريع:
                p: a(href="https://drive.google.com/file/d/1Ru7oEbXsmyxgmiTvWU6X0ptlwWeqWxnp/view?usp=sharing") زين العذيبه
                p: a(href="https://drive.google.com/file/d/1PaqVr5Qzjx2vLZrUm6vl0oh4TegUi70x/view?usp=sharing") مروج الزين
                p: a(href="https://drive.google.com/file/d/1AcNN4-7AFU0YBIr0f4gXQZPN4NgMopxK/view?usp=sharing") المنى جاردنز
                p: a(href="https://drive.google.com/file/d/19x10w6tkzTAj8m93NtObUZ5gUJwxxB0v/view?usp=sharing") قطعه ارض للبيع
            .col-lg-3.col-md-6.col-sm-12.foot-box
                h4 روابط مهمة:
                p: a(href="#خدماتنا") خدماتنا
                p: a(href="#من نحن") من نحن
                p: a(href="#تواصل معنا") تواصل معنا
                block links
                    p: a(href="pages/privacy-policy.html") سياسة الخصوصية
                    p: a(href="pages/term-of-use.html") شروط الاستخدام
.copyrights 
    p جميع الحقوق محفوظة لدي شركة #[span WE]  للتسويق العقاري ©