.privacy-policy {
    margin-top: 130px;
    text-align: right;

    h1 {
        margin-bottom: 35px;
    }

    .intro,
    .info,
    .data,
    .personal-info .security,
    .third-party,
    .third-part-ads {
        margin-bottom: 40px;
    }

    h3 {
        margin-bottom: 20px;
    }

    li,
    p {
        line-height: 35px;
        margin-bottom: 20px;
    }
}