.terms-of-use{
    margin-top: 130px;
    text-align: right;
    h1{
        margin-bottom: 30px;
    }
    ul{
        li{
            margin-bottom: 40px;
            line-height: 35px;
        }
    }
}